services:
  lmslendings:
    image: lmslendings:latest
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap
      - spring.datasource.url=jdbc:postgresql://postgres_lendings:${POSTGRES_PORT:-5432}/postgres
      - spring.datasource.username=postgres
      - spring.datasource.password=password
      - file.upload-dir=/tmp/uploads-psoft-g1-instance1
      - spring.rabbitmq.host=rabbitmq
    volumes:
      - "uploaded_files_volume_1:/tmp"
    deploy:
      replicas: 2
    ports:
      - "8089:8080"  # Expose the lmslendings service on port 8089
    networks:
      - lms_network

  postgres_lendings:
    image: postgres:latest
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    deploy:
      replicas: 2
    ports:
      - "5433-5450:5432"
    networks:
      - lms_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    deploy:
      replicas: 1
    ports:
      - "5672:5672"   # RabbitMQ main port
      - "15672:15672" # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - lms_network

networks:
  lms_network:
    driver: overlay

volumes:
  uploaded_files_volume_1:
  uploaded_files_volume_2:
